fastapi==0.104.1
uvicorn[standard]==0.24.0
beanie==2.0.0
pydantic==2.5.0
pydantic-settings
email-validator
requests
beautifulsoup4
apscheduler
python-dotenv
ruff
black
pre-commit
python-multipart
types-requests
pyjwt
pwdlib[argon2]
